<footer class="bg-dark" style="bottom: 0; height: 150px; position: absolute;">
    <div class="footer-content">
      <a href={% url 'board-top' %}>
        <h3 style="margin-top: 30px;">TwiBOX</h3>
      </a>
    </div>
  <div class="footer-content">
      <!-- <div>
        <a href="#">
          プライバシーポリシー
        </a>
      </div>
      <div>|</div>
      <div>
        <a href="#">
           利用規約
        </a>        
      </div>
      <div>|</div> -->
      <div>
        <small>Contact: twibox.board@gmail.com</small>
      </div>
  </div>
</footer>