{% load accounts_user %}
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href={% url 'board-top' %}>
          <img src="/media/pages/D-Repo.png" style="width:120px;"/>
        </a>
      </div>
      <div>
        <a class="navbar-brand" href={% url 'board-streams' %}>
          <p>配信中</p>
        </a>
      </div>
      <div>        
        <a class="navbar-brand" href={% url 'board-archives' %}>
          <p>アーカイブ</p>
        </a>
      </div>
      <div>        
        <a class="navbar-brand" href={% url 'board-streamers' %}>
          <p>ストリーマー</p>
        </a>
      </div>
      <div class="text-light nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user | user_display }}
          </a>
          <ul class="dropdown-menu endposition" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="#">アカウント設定</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href={% url "account_logout" %}>ログアウト</a></li>
            {% else %}
              <li><a class="dropdown-item" href={% url "account_login" %}>ログイン</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href={% url "account_signup" %}>サインアップ</a></li>
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>