{% extends "base.html" %}
{% block head_title %}TwiBOX{% endblock %}
{% block content %}
<div class="container">
    <h1 class="top-head">| TwiBOXで最高の体験を共有しましょう</h1><br>

        <h5 class="top-content">
            TwiBOXは、配信プラットフォーム「
            <a href="  https://www.twitch.tv/" style="color: #9147FF;">Twitch</a>
            」における配信やストリーマーを愛するユーザーの交流を目的としたコンテンツです。<br><br>
            TwiBOXのユーザーは、Twitchで配信されるストリームやそのアーカイブに対して自動的に生成される掲示板にコメントを投稿することができます。<br><br>
            高速で流されることのないコメントをTwiBOXに残し、好きなだけ思いを分かち合いましょう。<br><br>
        </h5>

    <h1 class="top-head">| TwiBOXで余韻を味わいましょう</h1><br>
        <h5 class="top-content">
            素晴らしい配信に熱狂した後には、他のことは考えたくないものです。<br><br>
            TwiBOXは終了した配信(アーカイブ)に対しても掲示板を提供し続けます。<br><br>
            配信の最中には言い足りなかった感想をTwiBOXに残し、共に余韻を味わいましょう。<br><br>
        </h5>

    <h1 class="top-head">| あなたの声でTwiBOXは進化します</h1><br>
        <h5 class="top-content">
            TwiBOXは成長途中のコンテンツです。<br><br>
            まだまだ追加してほしい機能があるかもしれません。<br><br>
            また現状対応しているストリーマーはごく一部となっています。追加が望まれるストリーマーはいますか？<br><br>
            そのようなことに関する要望・改善点を是非知らせてください。<br><br>
            Contact: twibox.board@gmail.com
        </h5>
</div>
{% endblock %}