{% extends "base.html" %}
{% block head_title %}Board一覧{% endblock %}
{% block content %}
<div class="container">
  <div class="flex-grow-1" style="max-width:500px;">
    <form class="d-flex" method="GET">
      <input class="form-control me-2 my-2" type="search" placeholder="「ストリーマー名」で検索" aria-label="Search" name="search">
      <button class="btn btn-dark my-2" type="submit">search</button>
    </form>
  </div>
    {% if object_list %}
          {% for obj in object_list %}
                <div class="card my-3 border-dark">
                  <div class="card-header border-dark">
                    {% if obj.type == "live" %}
                        <a href="{{ obj.channel }}">
                            <img src="{{ obj.image }}" class="circle_purple"/>
                        </a>
                    {% else %}
                        <img src="{{ obj.image }}" class="circle"/>
                    {% endif %}
                  </div>
                    <div class="card-body border-dark">
                        <h5 class="card-title">
                          {{ obj.type }}  |   
                          <a href={% url 'board-streamersdetail' obj.pk %}>
                              {{ obj.streamer_name }} ( {{ obj.streamer }} )
                          </a>
                        </h5>
                    </div>
                </div>
          {% endfor %}
      {% else %}
        <div>ストリーマーが見つかりません</div>
      {% endif %}
</div>
{% endblock %}